*{
	margin:0px;
	padding:0px;
}


body {
	background-color:pink;
}

.one {
	background-color:black;
	height:100px;
	width:400px;
	color:red;
	font-size:15px;
	font-family:helvetica;
	padding:20px;

}

.two {
	background-color:yellow;
	height:250px;
	width:200px;
	font-size:15px;
	font-family:helvetica;
	padding:20px;

}

.three {
	background-color:green;
	color:orange;
	height:250px;
	width:200px;
	font-size:15px;
	font-family:helvetica;
	padding:20px;
	margin-left:300px;
	margin-top:-300px;
	
}

.four {
	background-color:skyblue;
	color:purple;
	height:600px;
	width:200px;
	font-size:15px;
	font-family:helvetica;
	padding:20px;
	margin-left:600px;
	margin-top:-400px;
	
}